// @font-face {
//     font-family: "Noto Sans Thai", sans-serif !important;
//     src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wdth,wght@62.5..100,100..900&display=swap') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }
// html {
//     font-family: "Noto Sans Thai", sans-serif;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

// $main-theme-color: rgb(15, 23, 42);

// .navbar {
//     // background-color:  rgb(7, 8, 12) !important;
//     box-shadow: rgba(94, 118, 133, 0.349) 0px 2px 18px 0px;
// }
    
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
main .container {
    max-width: 800px !important; 
    min-height: 80vh;
    height: 100%;

    // max-width: calc((100% - 953px) * 0.5);
}



.honk_color_font {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}

.honk_color_font-2 {
    @extend .honk_color_font;
    font-size: 2rem;
}
.honk_color_font-3 {
    @extend .honk_color_font;
    font-size: 3rem;
}
.honk_color_font-4{
    @extend .honk_color_font;
    font-size: 4rem;
}



.container-main-body {
    // background-color: $main-theme-color;
    // color: white;
    max-width: 500px;
    min-height: 100vh;
}
.container-fluid-body {
    // background-color: $main-theme-color;
    // color: white;
    min-width: 100%;
    min-height: 100vh;
    iframe {
        min-height: max-content;
        width: 100%;
    }
}

body,html {
    // font-family: Arial, sans-serif;
    font-family: "Kanit", sans-serif !important;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    height: 100%;
    // width: 100%;
;
    // text-align: center;
}

header {
    nav {
        box-shadow: rgba(95, 119, 134, 0.25) 0px 2px 18px 0px;
        padding-bottom: 1rem !important;
    }
    padding-bottom: 30px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 20px;
    height: 20px;
    background-color: #ffcc00;
    border-radius: 50%;
}

.name-title h1, .name-title p {
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.profile-pic-container {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    // margin-bottom: 20px;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.intro h2 {
    font-size: 48px;
    margin: 10px 0;
}

.intro p {
    margin: 10px 0;
    color: #666;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.resume {
    background-color: #ffcc00;
}

.projects {
    background-color: #ff5733;
}

.contact {
    background-color: #33cccc;
}

footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(95, 119, 134, 0.25) 0px -2px 18px 0px;
    .footer_mail {
        text-decoration: none;  
        color: black;
    }
}

footer p {
    margin: 0;
}

.nav-item.active {
    .nav-link {
        border-bottom: 1px solid black;
    }
}
.nav-link:hover{
    scale: 1.01;
    text-shadow: rgba(95, 119, 134, 0.25) 0px 3px 18px 0px;
    transition: 50ms;
}
// .main_work_exp {
//     padding-left: 1.25rem;
//     padding-right: 1.25rem;
//     padding-top: 1.5rem;
//     padding-bottom: 2rem;
//     box-shadow: rgba(95, 119, 134, 0.25) 0px 2px 18px 0px;
//     border-radius: 15px;
// }
.main_card_box {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    box-shadow: rgba(95, 119, 134, 0.25) 0px 2px 18px 0px;
    border-radius: 15px;
}