// @font-face {
//     font-family: "Noto Sans Thai", sans-serif !important;
//     src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wdth,wght@62.5..100,100..900&display=swap') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }
// html {
//     font-family: "Noto Sans Thai", sans-serif;
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

$main-theme-color: #303a48;
$main-theme-color-lighter: #4c5768;

// .navbar {
//     // background-color:  rgb(7, 8, 12) !important;
//     box-shadow: rgba(94, 118, 133, 0.349) 0px 2px 18px 0px;
// }
    
@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla:EDPT@152&display=swap');
main .container {
    max-width: 900px !important; 
    min-height: 80vh;
    height: 100%;
    padding: 10px 25px;
    // max-width: calc((100% - 953px) * 0.5);
}

.main_body_wrap {
    background-color: $main-theme-color;
    color: white;
}
@font-palette-values --myPalette {
    font-family: "Nabla";
    base-palette: 1;
    override-colors: 6 #4d9ce6;
  }
.nabla_color_font {
    font-family: "Nabla", system-ui;
    font-optical-sizing: larger;
    font-size: xx-large;
    font-weight: 400;
    font-style: normal;
    font-palette: --myPalette;
    font-variation-settings:
    "EDPT" 152,
    "EHLT" 12;
    text-shadow: rgba(95, 119, 134, 0.25) 0px 3px 18px 0px !important;
  }

  
.honk_color_font {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: normal;
    // font-palette: --myPalette;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
}

.honk_color_font-2 {
    @extend .honk_color_font;
    font-size: 2rem;
}
.honk_color_font-3 {
    @extend .honk_color_font;
    font-size: 3rem;
}
.honk_color_font-4{
    @extend .honk_color_font;
    font-size: 4rem;
}

.skill_icon_box {
    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
    }
}

.skill_icon_card {
    line-height: 2rem;
    i {
        font-size: 1.25rem; 
        width: 30px;
        text-align: center;
    }
    a{
        color: white;
        text-decoration: none;
        i {
            color: #ffffff4d;
            text-align: start ;
            margin-top: 0;
            margin-bottom: auto;
            width: 10px;
            font-size: 0.5rem;
        }
    }
}

.container-main-body {
    background-color: silver;
    // color: white;
    max-width: 500px;
    min-height: 100vh;
}
.container-fluid-body {
    // background-color: $main-theme-color;
    // color: white;
    min-width: 100%;
    min-height: 100vh;
    iframe {
        min-height: max-content;
        width: 100%;
    }
}

body,html {
    // font-family: Arial, sans-serif;
    font-family: "Kanit", sans-serif !important;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    height: 100%;
    // width: 100%;
;
    // text-align: center;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative; 
    min-height: 100%;
    // font-size: 62.5%;
    animation: fadein 1s ease;
    -moz-animation: fadein 1s ease; /* Firefox */
    -webkit-animation: fadein 1s ease; /* Safari and Chrome */
    -o-animation: fadein 1s ease; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }

  body::-webkit-scrollbar {
    width: 7px;
  }
  
  body::-webkit-scrollbar-track {
    background: $main-theme-color-lighter;
  }
  
  body::-webkit-scrollbar-thumb {
    background: $main-theme-color;
    border: 1px rgba(0, 0, 0, 0.397) solid;
    border-radius: 30px;
  }

header {
    nav {
        box-shadow: rgba(0, 0, 0, 0.432) 0px 2px 18px 0px;
        padding-bottom: 1rem !important;
        background-color: $main-theme-color !important;
    }
    padding-bottom: 30px;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    width: 20px;
    height: 20px;
    background-color: #ffcc00;
    border-radius: 50%;
}

.name-title h1, .name-title p {
    margin: 0;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin: 50px 0;
    padding:  60px 0;
}
li{
    list-style-type: none;
}
ul{
    padding: 0;
}
.profile-pic-container {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    // margin-bottom: 20px;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.intro h2 {
    font-size: 48px;
    margin: 10px 0;
}

.intro p {
    font-weight: 400;
    margin: 0 0;
    color: #ffffff;
}

.buttons {
    margin-top: 20px;
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 25px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.resume {
    background-color: #ffcc00;
}

.projects {
    background-color: #ff5733;
}

.contact {
    background-color: #33cccc;
}

footer {
    background-color: $main-theme-color;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.253) 0px -3px 18px 0px;
    color: #ffffff;
    .footer_mail {
        text-decoration: none;  
        color: #ffffff;
    }
}

footer p {
    margin: 0;
}
.nav-link {
    transition: all 0.3s ease-in-out; // Add transition to all properties
  }
  
  .nav-item.active .nav-link {
    transition: all 0.3s ease-in-out; // Add transition to all properties
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  
  .nav-link:hover {
    // scale: 1.02;
    text-shadow: rgba(95, 119, 134, 0.25) 0px 3px 18px 0px;
    transition: all 0.3s ease-in-out; // Add transition to all properties
    border-bottom: 1px solid rgb(109, 109, 109);

  }
  
// .main_work_exp {
//     padding-left: 1.25rem;
//     padding-right: 1.25rem;
//     padding-top: 1.5rem;
//     padding-bottom: 2rem;
//     box-shadow: rgba(95, 119, 134, 0.25) 0px 2px 18px 0px;
//     border-radius: 15px;
// }

.resume-dropdown {
    animation: dropdown-ani 2000ms infinite ease; /* Add slide-down animation */
    transition: all 100ms ease;

  }
  
  @keyframes dropdown-ani {
    0% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
        border-bottom: 1px solid #ffcc00;
        text-shadow: #ffcc00  0px 0px 15px;

      }
      50% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
        border-bottom: none;
        box-shadow: none;
        text-shadow: none;

      }
      to {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
        border-bottom: 1px solid #ffcc00;
        text-shadow: #ffcc00  0px 0px 15px;

      }
}
.main_card_box {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    box-shadow: rgba(0, 0, 0, 0.432) 0px 5px 15px 0px;
    border-radius: 15px;
    background-color: rgba(75, 75, 75, 0.363);
    // opacity: 0.25;

    color: rgb(255, 255, 255);
    
}

.vcard_img {
    background-color: black;
}